@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  max-width: 95%;
  margin: 0 auto;
  object-fit: contain;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* hero */
.hero {
  display: flex;
}

.hero-image,
.tagline {
  width: 50%;
  border-radius: 1em;
}

.tagline {
  text-align: center;
  display: flex;
  align-items: center;
}

